# Port to run the server on (default: 3000)
PORT=3000

# PostgreSQL database URL (Optional. If not provided, it will fallback to local configs.json and users.json storage)
# DATABASE_URL="postgresql://username:password@host:port/database?sslmode=require"
